
.container-card-video{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 340px;
    
}
.card-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #000;
}
.card-video img{
    width: 290px;
    object-fit: contain;
    border-radius: 5px;
}
.card-video svg{
}
.card-title{
    height: auto;
}
.card-title p{
    text-align: left;
    color: #000;
    font-weight: 550;
    font-family: 'Inter', sans-serif;
}
.play-overlay{
    position: absolute;
}


.container-link-all-video{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block: 20px;
}
.container-link-all-video a{
    padding-block: 20px;
    display: flex;
    align-items: center;
}
.container-link-all-video a span{
    color: #212121;
    margin-inline: 5px;
    font-weight: 600;
}



@media screen and (max-width:690px) {

    .container-card-video{
        width: 45%;
    }
    .card-video {
    }
    .card-video img{
        width: 100%;
        object-fit: contain;
    }
   
}
@media screen and (max-width:570px) {

    .container-card-video{
        width: 98%;
        height: 400px;

    }
    .card-video {
        height: 300px;

    }
    .card-video img{
        height: 250px;
    }
   
}