.about-section {
    width: 1200px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    color: #333;
  }
  
  .about-header {
    text-align: left; /* ahora alineado a la izquierda */
    margin-bottom: 10px;
    padding: 5px;

  }
  
  .about-header h2 {
    font-size: 2.5rem;
    color: #0a3d62; /* azul institucional */
    margin-bottom: 15px;
    font-weight: 700;
  }
  
  .about-header p {
    font-size: 1.1rem;
    color: #555;
    width: 100%;
    margin: 0; /* sin centrado */
  }
  
  .about-content {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 8px;
    text-align: left; /* aseguramos alineación izquierda */
  }
  
  .about-content p {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.7;
    color: #444;
  }
  
  .about-content b {
    color: #0a3d62;
  }
  
  /* Responsive */
  @media screen and (max-width:1220px) {

    .about-section{
        width: 97%;
        
    }
   
}
  @media (max-width: 768px) {
    .about-header h2 {
      font-size: 2rem;
    }
    .about-header p {
      font-size: 1rem;
    }
    .about-content {
      padding: 20px;
    }
  }
  
  