.container-mapa-p{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-mapa-p-resp{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.conatainer-contactos{
    width: 380px;
    height: 500px;
    background-color: rgb(238, 235, 235);


}
.conatainer-contactos-link{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.conatainer-contactos-link a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
}
.conatainer-contactos-link a span{
    font-size: 14px;
    margin-left: 5px;
    color: #000;
    font-weight: 600;
    margin-right: 5px;
}
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
    margin-bottom: 20px;
    background-color: rgb(238, 235, 235);

}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}
.gmap_canvas iframe{
    width:600px;
    height:500px;
   
}
@media screen and (max-width:1080px) {
    .mapouter{
        margin-left: 5px;
    }
    .container-mapa-p-resp{
        width: 100%;
    }
    .conatainer-contactos{
        width: 49%;
    }
    .mapouter{        
        width:50%;
    }
    .gmap_canvas {
        width:100%;        
    }
    .gmap_canvas iframe{
        width:100%;       
    }
   
}
@media screen and (max-width:950px) {
    .container-mapa-p-resp{
        width: 100%;
        flex-direction: column;

    }
    .conatainer-contactos{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

    }
    .conatainer-contactos-link{
        margin-top: 30px;
        
    }
    .mapouter{        
        width:100%;
    }
    .mapouter{
        margin-left: 0px;
    }
    .gmap_canvas {
        width:  100%;
        height:500px;
    }
}
