.container-texto-p{
    width: 100%;
    display: flex;
    justify-content: center;

}
.container-texto-p-resp{
    width: 1000px;
    margin-block: 30px;
}
/*
.container-texto-p-resp h1{
    color:  !important;
}*/
