.container-texto-p{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;


}
.container-texto-p-resp{
    width: 1200px;
    margin-block: 30px;
    padding-left: 3px;

}
/*
.container-texto-p-resp h1{
    color:  !important;
}*/
