.container-seccion{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-seccion-resp{
    width: 1200px;
    display: flex;
    height: auto;


}
.container-seccion-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width:1220px) {

    .container-seccion-resp{
        width: 97%;
        
    }
   
}

@media screen and (max-width:950px) {
    .container-seccion-data {
    }
}





h3,h1,h2,h4{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
  }
  p{
    font-family: 'Inter', sans-serif !important;
    font-size: 16px;
    font-weight: 600;
  
  }
  li{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
  
  }
  a{
    font-family: 'Inter', sans-serif !important;
    font-weight: 600;
  
  }